  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Inicio</title>
</head>
<body>
  <!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="/images/logoPeluqarte.png" alt="Logo Peluqarte" style="height: 120px;">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          <a class="nav-link" href="/vistaAltaTurno">Alta turno</a>
          <a class="nav-link" href="/turnoConfirmado">Eliminar Turno</a>
          <a class="nav-link" href="/turnosDisponibles">Turnos Disponibles</a>
          <a class="nav-link" href="/registro">Registrate</a>

        </div>
      </div>
    </div>
  </nav> -->
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid justify-content-beetwen">
          <img src="/images/logoPeluqarte.png" alt="Logo Peluqarte" style="height: 120px;">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link fw-medium text-light" href="/home">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link fw-medium text-light" href="/home">Nosotros</a>
              </li>
              {% if cookieLogin %}
              <li class="nav-item">
                <a class="nav-link fw-medium text-light" href="/vistaAltaTurno">Dar alta de turnos</a>
              </li>
              {%endif%}
              {% if cookieLogin %}
              <li class="nav-item">
                <a class="nav-link fw-medium text-light" href="/turnoConfirmado">Editar Turnos</a>
              </li>
              {%endif%}
              {% if cookieLogin %}
              <li class="nav-item">
                <a class="nav-link fw-medium text-light" href="/turnosDisponibles">Turnos Disponibles</a>
              </li>
              {%endif%}
              <li class="nav-item">
                <a class="nav-link fw-medium text-light" href="/home">Contacto</a>
              </li>
              {% if cookieLogin %}
              <li class="nav-item">
                <a class="nav-link fw-medium text-light" href="/logout">Salir</a>
              </li>
              {% else: %}
              <li class="nav-item">
                <a class="nav-link fw-medium text-light" href="/vistaLogin">Ingresa</a>
              </li>
              {%endif%}

            </ul>
          </div>
        </div>
      </nav>
</body>
</html>