<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #262626;">
    {% include 'header.html' %}
    <div style="margin-top: 100px;"  class="container">
    <h1 class="mx-auto">Mis Turnos</h1>
    {% if respuesta%}
        <h2 class="alert alert-warning mx-auto" role="alert">{{respuesta}}</h2>
    {% endif %}
    {% if turnos %}
    <table class="table table-bordered table-dark mx-auto">
        <thead>
            <tr class="table table-Secondary">
                <td>Dia y hora Inicio</td>
                <td>Peluquero</td>
                <td>Contacto</td>
                <td>Accion</td>
            </tr>
        </thead>
        <tbody>
            {% if turnos: %}
                {% for i in turnos %}
                        <tr scope="row">
                            <td>{{i[1]}}</td>
                            <td>{{i[2]}} {{i[3]}}</td>
                            <td>{{i[4]}}</td>
                            <td >
                                <form method="post" action="/bajaTurno" style="display: inline;">
                                    <input type="hidden" name="idTurno" value="{{ i[0] }}">
                                    <input type="hidden" name="turnos" value="turnos">
                                    <button type="submit" class="btn btn-danger my-2">Cancelar</button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
            {%else:%}
                <tr scope="row">
                    <td>No existen turnos</td>
                </tr>
            {%endif%}
            </tbody>
        </table>
    {% endif %}
    </div>
</body>
</html>