<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #262626;">
    {% include 'header.html' %}
    <div style="margin-top: 100px;"  class="container">
    <h1 style="color: white;">Editar Turno</h1>
        <table class="table table-bordered table-dark  mx-auto">
            <thead>
                <tr class="table table-Secondary">
                    <td>ID TURNO</td>
                    <td>Fecha y Hora</td>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{turno[1]}}</td>
                <td>{{turno[2]}}</td>
            </tr>
            </tbody>
        </table>
    <form action="editTurno" method="post">
        <div class="input-group mb-3">
            {% if respuesta:%}
            <h2 class="alert alert-warning" role="alert">{{respuesta}}</h2>
            {%endif%}
            <span class="input-group-text" id="inputGroup-sizing-default">Fecha y Hora</span>
            <input type="hidden" name="idTurno" value="{{ turno[0] }}">
            <input type="hidden" name="fechaTurno" value="{{ turno[1] }}">
            <input type="datetime-local" class="form-control opacity-75" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="fechaInicio" id="fechaInicio">
        </div>
        <button type="submit" class="btn bg-warning-subtle">Modificar</button>
    </form>
    </div>
</body>
</html>