<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #262626;">
    {% include 'header.html' %}
    <div style="margin-top: 100px;"  class="container">
    <h1 class="mx-auto">Turnos Confirmados</h1>
    <table class="table table-bordered table-dark mx-auto">
        <thead>
            <tr  class="table table-Secondary">
                <td>Dia y hora Turno</td>
                <td>Cliente</td>
                <td>Tel Cliente</td>
            </tr>
        </thead>
        <tbody>
                {% for i in turnos %}
                <tr scope="row">
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}} {{i[2]}}</td>
                    <td>{{i[3]}}</td>
                </tr>
                {% endfor %}
        </tbody> 
    </table>
    {%if turnosPasados:%}
    <h1 class="mx-auto">Turnos Pasados</h1>
    <table class="table table-bordered table-dark mx-auto">
        <thead>
            <tr  class="table table-Secondary">
                <td>Dia y hora Turno</td>
                <td>Cliente</td>
                <td>Tel Cliente</td>
                <td>Accion</td>
            </tr>
        </thead>
        <tbody>
                {% for i in turnosPasados %}
                <tr scope="row">
                    <td>{{i[0]}}</td>
                    <td>{{i[1]}} {{i[2]}}</td>
                    <td>{{i[3]}}</td>
                    <td>Asistio o no</td>
                </tr>
                {% endfor %}

        </tbody> 
    </table>
    {%endif%}
</main>
</body>
</html>