<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="container" style="background-color: rgb(97, 68, 42);">
    {% include 'header.html' %}
    <form action="/turnosDisponibles" method="post" class="w-75 mx-auto d-flex justify-content-around">
        <select name="peluquero" class="form-select me-2 my-2">
            <option value="12345674">David Perez</option>
            <option value="12345675">Carlos Rober</option>
            <option value="12345676">Lucas Masmut</option>
            <option value="12345678">Santi Galdamez</option>
            <option value="12345679">Pedro Diaz</option>
        </select>
        <button type="submit" class="btn btn-warning my-2 ">Buscar</button>
    </form>
    {%if turnos%}
    <table class="table table-bordered table-dark w-75  mx-auto">
        <thead>
            <tr  class="table table-Secondary">
                <td>Dia y hora Turno</td>
                <td>Peluquero</td>
                <td>Contacto</td>
                <td>Accion</td>
            </tr>
        </thead>
        <tbody>
                {% for i in turnos %}
                <tr scope="row">
                    <td>{{i[1]}}</td>
                    <td>{{i[2]}}</td>
                    <td>{{i[3]}}</td>
                    <td><form action="eligeTurno" method="post">
                        <input type="hidden" name="idTurno" value="{{ i[0] }}">
                        <button type="submit" class="btn btn-success">Reservar</button>
                    </form>
                </td>
                </tr>
                {% endfor %}
        </tbody> 
    </table>
    {%endif%}
    {%if respuesta:%}
        <h2 class="alert alert-warning w-75 m-auto" role="alert">{{respuesta}}</h2>
    {%endif%}
    </body>
</html>