<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body  class="container" style="background-color: rgb(97, 68, 42);">
    {% include 'header.html' %}
    <h1 class="my-2">Dar de alta turno especial</h1>
    <form action="/altaTurno" method="post">
        {% if respuesta %}
          <div class="alert alert-warning" role="alert">
            {{ respuesta }}
          </div>
        {% endif %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Fecha y Hora</span>
            <input type="datetime-local" class="form-control opacity-75" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="fechaInicio" id="fechaInicio" min="2023-01-01" max="2023-12-31" required>
          </div>
          <button type="submit" class="btn bg-warning-subtle">Confirmar</button>
    </form>
    <h1 class="my-2">Dar de alta turno semanal</h1>
    <form action="/altaTurnoSemanal" method="post">
        {% if respuestaSemana %}
          <div class="alert alert-warning" role="alert">
            {{ respuestaSemana }}
          </div>
        {% endif %}
        <label class="fs-4 mb-2">Fecha y hora primer turno</label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Fecha y Hora</span>
            <input type="datetime-local" class="form-control opacity-75" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="fechaInicio" id="fechaInicio">
          </div>
          <label class="fs-4 mb-2">Fecha y hora ultimo turno</label>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">Fecha y Hora</span>
            <input type="datetime-local" class="form-control opacity-75" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="fechaFin" id="fechaFin">
          </div>
          <button type="submit" class="btn bg-warning-subtle">Confirmar</button>
    </form>
    
</body>
</html>